{% extends 'admin/admin_dashboard.html' %} 
{% load static %}
{% block title%}Category{% endblock title %}

{% block content %}

<section class="section-conten padding-y" style="min-height: 84vh">
  <!-- ============================ COMPONENT LOGIN   ================================= -->
  <div class="card mx-auto" style="max-width: 800px; margin-top: 100px">
    {% include 'include/alerts.html' %}
    <div class="card-body">
      <h4 class="card-title mb-4">Category</h4>
      <table class="table table-sm">
        <thead>
          <tr>
              <th>Categories</th>
              <th>Slug</th>
              <th>Status</th>
              <th>Action </th>
          </tr>
        </thead>

        <tbody>
            {% for category in categories %}
          <tr>
            <td>{{category.category_name}}</td>
            <td>{{category.slug}}</td>
            <td>{% if category.is_available %}
              <span class="badge badge-success rounded-pill d-inline text-black-50 text-success">Active</span>
              {% else %}
              <span class="badge badge-danger rounded-pill d-inline text-black-50 text-danger">Blocked</span>
              {% endif %}</td>
            {% if category.is_available  %}
            <td><a href="{% url 'block-category' category.id %}"><button type="button" class="btn btn-danger btn-sm">Block</button></a>/<a href="{% url 'edit-category' category.id %}"><button type="button" class="btn btn-info btn-sm">Edit</button></a></td>
             {% else %}
             <td><a href="{% url 'unblock-category' category.id %}"><button type="button" class="btn btn-success btn-sm">Unblock</button></a>/<a href="{% url 'edit-category' category.id %}"><button type="button" class="btn btn-info btn-sm">Edit</button></a</td>
            {% endif %}
          </tr>
          {% endfor %}
         
        </tbody>
      </table>
      <a href="{% url 'add-category' %}" class="btn btn-primary btn-sm mt-4">Add Category</a>
    </div>
    <!-- card-body.// -->
    
  </div>
  <!-- card .// -->

  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>


{% endblock content %}
<script>
  django.jQuery(document).ready(function(){
      function updateSlugFromTitle() {
          var title = django.jQuery('#id_title').val();
          var slug = django.jQuery('#id_slug');
          slug.val(title.replace(/\s+/g, '-').toLowerCase());
      }
      django.jQuery('#id_title').on('keyup', updateSlugFromTitle);
  });
</script>
