{% extends 'user/base.html' %}
{% load static %}
{% block title %}Signin{% endblock title %}
{% block navbar %}{% endblock navbar %}
{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
          <h4 class="card-title mb-4">Sign in</h4>
          {% include 'include/alerts.html' %}
          <form action="{% url 'otp-verify' uid %}" method="POST">
            {% csrf_token %}
              <div class="form-group">
                 <input type="text" class="form-control" placeholder="Enter your OTP" name='otp-verify' >
              </div> <!-- form-group// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Login  </button>
              </div> <!-- form-group// -->    
          </form>
          
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->



{% endblock content %}