{% extends 'user/base.html' %}
{% load static %}
{% block title %}Signin{% endblock title %}
{% block navbar %}{% endblock navbar %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
          <h4 class="card-title mb-4">Reset Password</h4>
          {% include 'include/alerts.html' %}
          <form action="{% url 'reset' %}" method="POST">
            {% csrf_token %}
              <div class="form-group">
                 <input type="password" class="form-control" placeholder="Current Password" name='current_password' >
              </div> <!-- form-group// -->
              <div class="form-group">
                 <input type="password" class="form-control" placeholder="New Password" name='new_password' >
              </div> <!-- form-group// -->
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name='cofirm_password' >
              </div> <!-- form-group// -->
              
              {% comment %} <div class="form-group">
                  <a href="#" class="float-right">Forgot password?</a> 
               
              </div> <!-- form-group form-check .// --> {% endcomment %}
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Change Password </button>
              </div> <!-- form-group// -->    
          </form>
          {% comment %} </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p> {% endcomment %}
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->



{% endblock content %}